@font-face {
    font-family: 'barlow_condensedregular';
    src: url('barlow-fontfacekit/web fonts/barlow_regular_macroman/Barlow-Regular-webfont.eot');
   src:url('barlow-fontfacekit/web fonts/barlow_regular_macroman/Barlow-Regular-webfont.woff') format('woff');
        
    font-weight: normal;
    font-style: normal;

}
body
{
	margin: 0;

}

#conteneur
{
	display: flex;
	width: auto;
	height:auto;
	
}

img
{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 70px;
}
.skls
{
	height: 100px;
	margin-left: 17px;

}
.alte
{
	margin-left: 3%;
}

.loic
{
	text-align: center;
}
h1
{
	margin-left: 3%;
	font-size: 40px;
	font-family: 'barlow_condensedregular';
}

p
{
	font-family: 'barlow_condensedregular';
	color: black;
}

h2
{
	margin-left: 3%;
}

.htrois
{
	border-bottom:solid 1px #FFEA00;
	padding: 1em;
}


.elementgauche /*leftside*/
{
	width: 35%;
	height: 1700px;
	background-color: #FFB300;
	font-family: 'barlow_condensedregular';
	
}

.elementdroit /*parcours professionnel*/
{
	width: 80%;
	height: 100%;
	font-family: 'barlow_condensedregular';
	
	
}

header
{
	padding-left: 7%;
	padding-top: 0.5em;
	width: 80%;
	margin: 1em;
	margin-top: 0.5px;
}
.fa-plane-departure
{
	
	
	height: 50px;
	width: 50px;

}

.fa-futbol
{
	
	
	
	height: 50px;
	width: 50px;
	
}
.fa-camera-retro
{
	
	;
	height: 50px;
	width: 50px;

}
.in
{
	font-size: 10px;
}


.contact
{
	background-color: #212121;
	padding: 2px 0;
	text-align: center;
	color: #FFEA00;
}
.container
{
	display: flex;
}
.icons
{
	font-size: 40px;
	display: flex;
	justify-content: space-around;
	padding-top: 10%;
	color: #212121;	
}
li
{list-style-type:  none;
	text-align: justify;
	margin: auto;

}

.form
{
	display: block;
}

.acc
{
	width: 30%;
	margin-left: 30px;
}
.acc_1
{
	width: 100%;
}
.bar

{
	width: 45%; /* Full width */
  background-color:#212121; /* Grey background */
  padding: 10px;
  color: #FFB300;
  text-align: center;
  height: 5px;
 
  font-style: bold;
}
.container
{
	margin-top: 15px;
}




.skills-bar
{

	width: 80%;
	border: 3px solid #212121;
	padding: 3px;
	margin-left: 10px;
	height: 25px;
}
.fa-html5, .fa-css3-alt
{font-size: 38px;
	margin-left: 8px;
	margin-top: 5px;
}
.fa-git-square
{
	font-size: 33px;
	margin-left: 8px;
	
}
.load
{
	height: 250px;
	margin-top: 80px;
}
	
.moi /*résumé de parcours*/
{
	background-color: #FFB300;
	
	text-align: justify;
	padding: 7%;
	color: #212121;
	height: 200px;
	
}

.titre
{
	padding-left: 7%;
	padding-top: 1em;
	width: 80%;
	margin: 1em;
	font-size: 18px;
}

.title
{
	padding-left: 7%;
	padding-top: 0.2em;
	width: 80%;
	margin: 1em;
	font-size: 18px;
}

.fa-linkedin
{
	
	
	
}
.coordonnees
{
	color: #212121;
	text-align: justify;
	padding-left: 20px;
	
	display: flex;
	justify-content: space-between;
	flex-direction: column; 

}
a
{
	text-decoration: none;
	color: inherit;
}
ul
{
	list-style: none;
	padding: 0;
}
	
#formation
{
	display: flex;
	width: 50%;
	margin: 2em;
	
	justify-content: space-around;
	margin-left: 70px;

}
.work
{
	display: flex;
	justify-content: space-around;
	width: 86%;
	margin-left: 70px;
	margin-top: 1px;
	
}


.acces
{
	display: flex;
	justify-content: space-around;
	width: 60%;
	margin-left: 70px;
	margin-bottom: 50px;

}

.travelex
{
	display: flex;
	padding-top: 1em;
	width: 80%;
	margin: 4em;
	margin-bottom: 1em;
	justify-content: space-around;

}
.interim
{
	display: flex;
	padding-top: 1em;
	width: 80%;
	margin: 4em;
	justify-content: space-around;

}

footer
{
	width: 80%;
	margin: 6em;
	margin-top: 0.2em;

}
		
.text
{
	width: 70%;
	padding-bottom: 0em;
	margin-top: 0.5em;
		
}

.fa-circle
{
	color:#FFEA00;
	font-size: 8px; 
}

.intég
{
	border-bottom: solid 1px #FFEA00;
}
.name
{
	color: #FFEA00;
}

.fa-briefcase
{
	color: #FFEA00;
	padding-right: 2%;
}

.fa-graduation-cap
{
	color: #FFEA00;
	padding-right: 2%;
}

.fa-pencil-alt
{
	color: #FFEA00;
	padding-right: 2%;

	
}
.fa-dot-circle
{
	color: #FFEA00;
}
.fa-linkedin, .fa-at, .fa-mobile-alt, .fa-map-pin
{
	font-size: 25px;
	margin-right: 10px;
}




/*affichage tablette*/
@media screen and (max-width:768px)
{
#conteneur
	{
		display: block;
		width: 100%;
		height: 100%;
		

	}

.elementgauche
	{
		width: 100%;
		height: 1200px;
		font-size: 13px;
	}

.elementdroit
	{
		width: 100%;
		font-size: 13px;
		
	}
#formation
	{
	margin-right: 40px;
	padding-bottom: 3px;
	padding-right: 50px;

	}
p
	{
		margin-right: 10px;
	}
.moi
	{
		height: 50px;


	}	
	.load
	{
		height: 180px;
		margin: 2px;
	}
.loic
	{
		height: 170px;
		text-align: center;
		margin-top: -50px;

	}


.coordonnees
	{
	height: 220px;
	margin: 0;
	text-align: center;
	margin-left: -70px;

	}
.icons

	{
	margin-top: -35px;
	}

.contact
	{
	width: 100%;
	}
img
	{
	width: 90px;
	height: 90px;
	}

.reco

	{
		margin: 5em;
	}	

}

/*affichage mobile*/
@media screen and (max-width: 425px)
{
#conteneur
	{
		display: block;
		width: 100%;
		
		font-size: 12px;
		
	}

.elementgauche
	{
		width: 100%;
		height: 1180px;
		
	}

.elementdroit
	{
		width: 100%;
		margin: 2px;

	}

	

p
	{
		margin-right: 10px;
	}

.moi
	{
		height: 150px;

	}	
.loic
	{  	height: 180px;
		padding-top: 2px;
		padding-bottom: 20px;
		
	}

.coordonnees
	{
	height: 220px;

	}
.load
{
	margin-top: 5px;
	margin-bottom: -80px;
}
.skls
{   display: flex;
	height: 70px;
	justify-content: center;
	margin: 1px;
}	
.icons
	{

	margin-top: -20px;
	height: 100px;
	}
.reco

	{
	padding: 0em;

	}

.contact
	{
	width: 100%;
	}
body
{
	
	margin: 0;
	position: relative;
}		

}
