@font-face {
    font-family: 'barlow_condensedregular';
    src: url('barlow-fontfacekit/web fonts/barlow_regular_macroman/Barlow-Regular-webfont.eot');
   src:url('barlow-fontfacekit/web fonts/barlow_regular_macroman/Barlow-Regular-webfont.woff') format('woff');
        
    font-weight: normal;
    font-style: normal;

}
body
{
	margin: 0;
}

#conteneur
{
	display: flex;
	width: auto;
	height:auto;
	
}

img
{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 20%;
}

.loic
{
	text-align: center;
}

h1
{
	margin-left: 3%;
	font-size: 40px;
	font-family: 'barlow_condensedregular';
}

p
{
	font-family: 'barlow_condensedregular';
	color: black;
}

h2
{
	margin-left: 3%;
}

h3
{
	border-bottom:solid 1px #FFEA00;
	padding: 1em;
}


.elementgauche /*leftside*/
{
	width: 20%;
	height: 1350px;
	background-color: #FFB300;
	font-family: 'barlow_condensedregular';
	
}

.elementdroit /*parcours professionnel*/
{
	width: 80%;
	height: 700px;
	font-family: 'barlow_condensedregular';
	
	
}

header
{
	padding-left: 7%;
	padding-top: 0.5em;
	width: 80%;
	margin: 1em;
	margin-top: 0.5px;
}
.fa-table-tennis
{
	border-style: circle;
	border: 1px solid #212121;
	border-radius: 100%;
	height: 50px;
	width: 50px;

}

.fa-biking
{
	border-style: circle;
	border: 1px solid #212121;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	font-size: 40px;
}
.fa-swimmer
{
	border-style: circle;
	border: 1px solid #212121;
	border-radius: 50%;
	height: 50px;
	width: 50px;

}


.contact
{
	background-color: #212121;
	padding: 2px 0;
	text-align: center;
	color: #FFEA00;
}

.icons
{
	font-size: 40px;
	display: flex;
	justify-content: space-around;
	padding-top: 10%;
	color: #212121;	
}
	
	
.moi /*résumé de parcours*/
{
	background-color: #FFB300;
	height: 500px;
	text-align: justify;
	padding: 7%;
	color: #212121;
	
}

.titre
{
	padding-left: 7%;
	padding-top: 1em;
	width: 80%;
	margin: 1em;
	font-size: 18px;
}

.title
{
	padding-left: 7%;
	padding-top: 0.2em;
	width: 80%;
	margin: 1em;
	font-size: 18px;
}

.coordonnees
{
	color: #212121;
	text-align: justify;
	padding-left: 10%;

}
	
#formation
{
	display: flex;
	width: 80%;
	margin: 4em;
	margin-top: 1px;
	margin-bottom: 1em;
	justify-content: space-around;
}

#acces
{
	display: flex;
	padding-top: 1em;
	width: 80%;
	margin: 4em;
	margin-top: 1em;
	justify-content: space-around;

}

#travelex
{
	display: flex;
	padding-top: 1em;
	width: 80%;
	margin: 4em;
	margin-bottom: 1em;
	justify-content: space-around;

}
#interim
{
	display: flex;
	padding-top: 1em;
	width: 80%;
	margin: 4em;
	justify-content: space-around;

}

.reco
{
	width: 80%;
	margin: 4em;
	margin-top: 0.2em;

}
		
.text
{
	width: 70%;
	padding-bottom: 0em;
	margin-top: 0.5em;
		
}

.fa-circle
{
	color:#FFEA00;
	font-size: 8px; 
}

.intég
{
	border-bottom: solid 1px #FFEA00;
}
.name
{
	color: #FFEA00;
}

.fa-briefcase
{
	color: #FFEA00;
	padding-right: 2%;
}

.fa-graduation-cap
{
	color: #FFEA00;
	padding-right: 2%;
}

.fa-pencil-alt
{
	color: #FFEA00;
	padding-right: 2%;
	
}
.fa-dot-circle
{
	color: #FFEA00;
}


/*affichage tablette*/
@media screen and (max-width:768px)
{
#conteneur
	{
		display: flex;
		width: auto;
		height: auto;
		

	}

.elementgauche
	{
		width: 25%;
		height: 1200px;
		font-size: 13px;
	}

.elementdroit
	{
		width: 65%;
		font-size: 13px;
		
	}
#formation
	{
	margin-right: 40px;
	padding-bottom: 3px;
	padding-right: 50px;

	}
	p
	{
		margin-right: 10px;
	}
.moi
	{
		height: 300px;

	}	
.loic
	{
		height: 200px;

	}


.coordonnees
	{
	height: 180px;
	margin: 0;
	font-size: 15px;
	}
.icons
	{	
	padding-top: 5px;
	}
.contact
	{
	width: 100%;
	}
img
	{
	width: 90px;
	height: 90px;
	}

}

/*affichage mobile*/
@media screen and (max-width:425px)
{
#conteneur
	{
		display: block;
		width: auto;
		height: auto;
		
	}

.elementgauche
	{
		width: 100%;
		height: 900px;
		
	}

.elementdroit
	{
		width: 100%;

	}
#formation
	{
	margin-right: 40px;
	padding-bottom: 40px;
	padding-right: 0em;
	
	}
	p
	{
		margin-right: 10px;
	}
.moi
	{
		height: 180px;

	}	
.loic
	{
		height: 200px;
		padding-top: 2px;
		padding-bottom: 20px;
		

	}	
.coordonnees
	{
	height: 200px;
	}
.icons
	{

	padding-top: 5px;
	}
.reco
{
	padding: 0em;

}	

}
